- name: create zookeeper config directory
  file:
    path: "{{ zookeeper_config_dir }}"
    state: directory
    follow: yes
    mode: 0755
  sudo: yes
  tags:
    - zookeeper

- name: Create zookeeper config files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  sudo: yes
  with_items:
    - src: zoo.cfg.j2
      dest: "{{ zookeeper_config_dir }}/zoo.cfg"
    - src: environment.j2
      dest: "{{ zookeeper_config_dir }}/environment"
    - src: configuration.xsl.j2
      dest: "{{ zookeeper_config_dir }}/configuration.xsl"
    - src: log4j.properties.j2
      dest: "{{ zookeeper_config_dir }}/log4j.properties"
  notify:
    - restart zookeeper
  tags:
    - zookeeper

- name: Create zookeeper myid file
  copy:
    content: "{{ zookeeper_id }}"
    dest: "{{ zookeeper_config_dir }}/myid"
    mode: 0644
  sudo: yes
  notify:
    - restart zookeeper
  tags:
    - zookeeper

- name: deploy zookeeper service
  sudo: yes
  sudo_user: root
  template:
    src: zookeeper.service.j2
    dest: /etc/systemd/system/zookeeper.service
  notify:
    - restart zookeeper
  tags:
    - zookeeper

- name: enable zookeeper
  sudo: yes
  service:
    name: zookeeper
    enabled: yes
    state: started
  tags:
    - zookeeper
