- name: ensure zookeeper is running (and enable it at boot)
  service: name=zookeeper state=started enabled=yes

- name: Create zookeeper config file
  template: src=zoo.cfg.j2 dest=/etc/zookeeper/conf/zoo.cfg
  sudo: yes
  notify:
    - Restart zookeeper

- name: Create zookeeper myid file
  copy:
    content: "{{zookeeper_id}}"
    dest: /etc/zookeeper/conf/myid
    mode: 0644
  sudo: yes
  notify:
    - Restart zookeeper

- name: Set Zookeeper consul service definition
  sudo: yes
  template:
    src: zookeeper-consul.j2
    dest: "{{ consul_dir }}/zookeeper.json"
  notify:
    - Restart consul
