- name: create configuration and ssl directory
  sudo: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    recurse: yes
  with_items:
    - "{{ logstash_config_dir }}/ssl"
    - "{{ logstash_config_dir }}/lumberjack"
  tags:
    - logstash

- name: configure logstash
  sudo: yes
  template:
    src: logstash.conf.j2
    dest: "{{ logstash_config_dir }}/logstash.conf"
  tags:
    - logstash

# tasks for running lumberjack
- name: deploy lumberjack service
  sudo: yes
  sudo_user: root
  template:
    src: lumberjack.service.j2
    dest: /etc/systemd/system/lumberjack.service
  tags:
    - lumberjack

- name: deploy systemd-journal-upload service
  sudo: yes
  sudo_user: root
  template:
    src: systemd-journal-upload.service.j2
    dest: /etc/systemd/system/systemd-journal-upload.service
  tags:
    - lumberjack

- name: upload lumberjack config files
  sudo: yes
  template:
    src: logstash-forwarder.conf.j2
    dest: "{{ logstash_config_dir }}/lumberjack/logstash-forwarder.conf"
  tags:
    - lumberjack

- name: upload lumberjack ssl files
  copy:
    src: "{{ item }}"
    dest: "{{ logstash_config_dir }}/ssl/{{ item }}"
    mode: 0644
  sudo: yes
  with_items:
    - "{{ lumberjack_ssl_certificate_file }}"
    - "{{ lumberjack_ssl_key_file }}"
  tags:
    - haproxy
