- name: install wait script
  sudo: yes
  template:
    src: marathon-wait-for-listen.sh.j2
    dest: /usr/local/bin/marathon-wait-for-listen.sh
    mode: 0755
  tags:
    - marathon

- name: create marathon artifact store directory
  when: marathon_artifact_store_dir is defined
  file:
    path: "{{ marathon_artifact_store_dir }}"
    state: directory
    mode: 0755
  sudo: yes
  tags:
    - marathon

- name: destroy old marathon container
  when: marathon_rebuild_container|bool
  docker:
    name: marathon
    image: "{{ marathon_image }}"
    state: absent

- name: run marathon container
  docker:
    name: marathon
    image: "{{ marathon_image }}"
    state: started
    restart_policy: "{{ marathon_restart_policy }}"
    ports:
    - "{{ marathon_port }}:{{ marathon_port }}"
    expose:
    - "{{ marathon_port }}"
    net: "{{ marathon_net }}"
    command: "{{ marathon_command }}"
    volumes:
    - "{{ marathon_artifact_store_dir }}:/store"
    memory_limit: "{{ marathon_container_memory_limit }}"
    env:
      JAVA_OPTS: "{{ marathon_java_settings }}"
  notify:
    - wait for marathon to listen

- name: upload marathon template service
  template:
    src: marathon.conf.j2
    dest: /etc/init/marathon.conf
    mode: 0755
  sudo: yes
  tags:
    - marathon

# Attach to the running container, or start it if needed
# and forward all signals so that the process manager can detect
# when a container stops and correctly restart it.
- name: ensure marathon is running (and enable it at boot)
  sudo: yes
  service:
    name: marathon
    state: started
    enabled: yes
  tags:
    - marathon

- name: store docker credentials on artifact
  run_once: true
  when: docker_registry_mail is defined and docker_registry_pass is defined and docker_registry_user is defined
  command: "curl -v -F 'name=file' -F 'filename=.docker.tar.gz' -F 'file=@/root/docker.tar.gz' http://0.0.0.0:8080/v2/artifacts"
  sudo: yes
  tags:
    - marathon

- name: Set marathon consul service definition
  sudo: yes
  template:
    src: marathon-consul.j2
    dest: "{{ marathon_consul_dir }}/marathon.json"
  notify:
    - restart consul
