[Unit]
Description=Dnsmasq
PartOf=consul.service
Requires=docker.service
After=consul.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=on-failure
ExecStartPre=/usr/bin/mkdir -p /etc/systemd/resolved.conf.d
ExecStartPre=-/bin/sh -c 'rm /etc/systemd/resolved.conf.d/00-consul-dns.conf && systemctl restart systemd-resolved'
ExecStartPre=-/usr/bin/docker kill dnsmasq
ExecStartPre=-/usr/bin/docker rm dnsmasq
ExecStartPre=/usr/bin/docker pull andyshinn/dnsmasq
ExecStart=/bin/sh -c '/usr/bin/docker run --rm \
  --name dnsmasq \
  --net=host \
  --cap-add=NET_ADMIN \
  --env SERVICE_IGNORE=true \
  andyshinn/dnsmasq -S /consul/${COREOS_PRIVATE_IPV4}#8600'

ExecStartPost=/bin/sh -c '\
  echo -e "[Resolve]\nDNS=${COREOS_PRIVATE_IPV4}" > /etc/systemd/resolved.conf.d/00-consul-dns.conf && \
  systemctl restart systemd-resolved;'

ExecStop=/usr/bin/docker stop dnsmasq
ExecStopPost=/bin/sh -c 'rm /etc/systemd/resolved.conf.d/00-consul-dns.conf && systemctl restart systemd-resolved'

[Install]
WantedBy=multi-user.target
