---
# tasks file for haproxy
- name: "assures {{ consul_template_dir }} dirs exists"
  file:
    path: "{{ consul_template_dir }}/{{ item.path }}"
    state: directory
  with_items:
    - { path: 'config' }
    - { path: 'templates' }
    - { path: 'routes' }
    - { path: 'etc/ssl/private' }
    - { path: 'etc/haproxy' }
  tags:
    - haproxy

- name: upload template config files
  template:
    src: consul.cfg.j2
    dest: "{{ consul_template_dir }}/config/consul.cfg"
    mode: 0644
  sudo: yes
  tags:
    - haproxy

- name: upload static config files
  copy:
    src: "{{ item.src }}"
    dest: "{{ consul_template_dir }}/{{ item.dst }}"
    mode: 0644
  sudo: yes
  with_items:
    - { src: haproxy.cfg, dst: 'config/haproxy.cfg' }
    - { src: haproxy.tmpl, dst: 'templates/haproxy.tmpl' }
    - { src: gae-proxy-routes.lst, dst: 'routes/gae-proxy-routes.lst' }
    - { src: endor-proxy-routes.lst, dst: 'routes/endor-proxy-routes.lst' }
    - { src: endor-proxy-prefix-routes.lst, dst: 'routes/endor-proxy-prefix-routes.lst' }
  tags:
    - haproxy

- name: upload SSL cert
  copy:
    src: "{{ item.src }}"
    dest: "{{ consul_template_dir }}/{{ item.dst }}"
    mode: 0644
  sudo: yes
  with_items:
    - { src: star_udacity_com.pem, dst: 'etc/ssl/private/star_udacity_com.pem' }
  when: "haproxy_ssl_enabled is defined and haproxy_ssl_enabled"
  tags:
    - haproxy

- name: upload geolocation data
  get_url:
    url: "{{ geolocation_txt }}"
    dest: "{{ consul_template_dir }}/etc/haproxy/geolocation.txt"
    mode: 0644
  sudo: yes
  tags:
    - haproxy

- name: destroy old haproxy container
  when: haproxy_rebuild_container
  docker:
    name: haproxy
    image: "{{ haproxy_image }}"
    state: absent
  tags:
    - haproxy

- name: run haproxy container
  # NOTE: Using command until we update to Ansible 2.0 which supports --log-driver
  command: >
    docker run -d
    --name=haproxy
    --net=host
    --restart=always
    --log-driver=syslog
    -p 0.0.0.0:80:80/tcp
    -p 0.0.0.0:34180:34180/tcp
    -e HAPROXY_DOMAIN="{{ haproxy_domain }}"
    -e GAE_SUBDOMAIN="{{ haproxy_gae_subdomain }}"
    -e ENDOR_SUBDOMAIN="{{ haproxy_endor_subdomain }}"
    -e CONSUL_TEMPLATE_VERSION="{{ consul_template_version }}"
    -e CONSUL_LOGLEVEL="{{ consul_template_loglevel }}"
    -e CONSUL_CONNECT="{{ consul_backend }}"
    -e CONSUL_CONFIG="/config"
    -e SERVICE_NAME=haproxy
    -e GAE_ROUTES_FILE=/routes/gae-proxy-routes.lst
    -e ENDOR_ROUTES_FILE=/routes/endor-proxy-routes.lst
    -e ENDOR_PREFIX_ROUTES_FILE=/routes/endor-proxy-prefix-routes.lst
    -e SSL_CERT=/etc/ssl/private/star_udacity_com.pem
    -v "/dev/log:/dev/log:rw"
    -v "{{ consul_template_dir }}/config:/config:rw"
    -v "{{ consul_template_dir }}/templates:/templates:rw"
    -v "{{ consul_template_dir }}/routes:/routes:rw"
    -v "{{ consul_template_dir }}/etc/ssl/private:/etc/ssl/private:rw"
    "{{ haproxy_image }}:{{ haproxy_image_tag }}"
  register: command_result
  failed_when: "'The name \"haproxy\" is already in use' not in command_result.stderr and command_result.rc != 0"
  tags:
    - haproxy
