.DS_Store
.vagrant
*.box
*.tfstate*
*.tfvars
*.tfplan
packer_cache
packer/build
packer/*.pem
.wercker
*.cache
ssh.config
vendor
.bundle
.kitchen
inventory/terraform.py
tests/spec/*/*runtime_spec.rb
contrib-plugins/*
vault-security.yaml
terraform/**/.terraform
roles/coreos_bootstrap
roles/coreos_timezone
roles/datadog
terraform/aws/public-cloud/etcd_discovery_url.txt
/_book/
