.DS_Store
.vagrant
*.box
*.tfstate*
*.tfvars
*.tfplan
*.ovpn
packer_cache
packer/build
packer/*.pem
.wercker
*.cache
*.ovpn
ssh.config
vendor
.bundle
.kitchen
inventory/terraform.py
tests/spec/*/*runtime_spec.rb
contrib-plugins/*
terraform/*/.terraform
roles/datadog-agent
