{% raw %}
global
    log /dev/log local0
    maxconn {{or (key "service/haproxy/maxconn") 100000}}
    tune.bufsize 16384
    tune.maxrewrite 1024 #https://cbonte.github.io/haproxy-dconv/configuration-1.5.html#3.2-tune.maxrewrite

defaults
    mode http
    log global
    option httplog
    timeout connect {{or (key "service/haproxy/timeouts/connect") "15s"}}
    timeout client {{or (key "service/haproxy/timeouts/client") "30s"}}
    timeout server {{or (key "service/haproxy/timeouts/server") "30s"}}
    timeout queue {{or (key "service/haproxy/timeouts/queue") "60s"}}
    timeout tunnel {{or (key "service/haproxy/timeouts/tunnel") "15s"}}
    timeout http-request {{or (key "service/haproxy/timeouts/http-request") "15s"}}
    timeout http-keep-alive {{or (key "service/haproxy/timeouts/http-keep-alive") "15s"}}
    option redispatch
    balance roundrobin

# https://www.datadoghq.com/blog/how-to-collect-haproxy-metrics/
listen stats :9000
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /haproxy_stats
  {% endraw %}
    stats auth {{ haproxy_username }}:{{ haproxy_password }}

{% raw %}
# frontend used to return health status without requiring SSL
frontend haproxy_status
    bind 0.0.0.0:34180      # 34180 means EALTH ;)
    # create a status URI in /haproxy_status that will return
    # a 200 is backend is healthy, and 503 if it isn't. This
    # URI is queried by the ELB.
    acl backend_dead nbsrv(consul_backend) lt 1
    monitor-uri /haproxy_status
    monitor fail if backend_dead

frontend nodejs-express
  bind *:90
  mode http
  default_backend nodejs-express_backend

frontend www
    bind *:80

    # Generated automatically by consul-template
{{range services}}
    acl host_{{.Name}} hdr(host) -i {{.Name}}.{{env "HAPROXY_DOMAIN"}}
    use_backend {{.Name}}_backend if host_{{.Name}}
{{end}}

{{range services}}
backend {{.Name}}_backend
{{range service .Name}}
   server {{.Node}} {{.Address}}:{{.Port}}{{end}}
{{end}}
{% endraw %}
