{
  "service": {
    "name": "cadvisor",
    "tags": [ "cadvisor" ],
    "check": {
      "docker_container_id": "cadvisor",
      "shell": "/bin/sh",
      "script": "wget -q --spider 127.0.0.1:8080/containers/ -O /dev/null",
      "interval": "10s"
    }
  }
}
