access_key = "aws_access_key_jfldajlkdfja;ds"
secret_key = "aws_secret_key_jkfldajskfja;klkfjdsa"
region = "eu-west-1"
key_name = "your-key-name"
key_file = "some/path/to/file.pem"
zone_id = "FAKEZONEID"
mesos_dns = "mesos.example.com"
