# tasks for running cadvisor
- name: run cadvisor container
  when: cadvisor_enabled
  docker:
    name: cadvisor
    image: "{{ cadvisor_image }}"
    state: started
    restart_policy: "{{ cadvisor_restart_policy }}"
    net: "{{ cadvisor_net }}"
    hostname: "{{ cadvisor_hostname }}"
    volumes:
    - "/var/lib/docker/:/var/lib/docker:ro"
    - "/:/rootfs:ro"
    - "/var/run:/var/run:rw"
    - "/sys:/sys:ro"
  tags:
    - cadvisor

- name: upload cadvisor template service
  when: cadvisor_enabled
  template:
    src: cadvisor.conf.j2
    dest: /etc/init/cadvisor.conf
    mode: 0755
  sudo: yes
  tags:
    - cadvisor

# Attach to the running container, or start it if needed
# and forward all signals so that the process manager can detect
# when a container stops and correctly restart it.
- name: ensure cadvisor is running (and enable it at boot)
  when: cadvisor_enabled
  sudo: yes
  service:
    name: cadvisor
    state: started
    enabled: yes
  tags:
    - cadvisor

- name: get cadvisor container ip
  sudo: yes
  command: >
    docker inspect -f \{\{' '.NetworkSettings.IPAddress' '\}\} cadvisor
  register: cadvisor_container_ip
  when: cadvisor_enabled
  tags:
    - cadvisor

- name: Set cadvisor consul service definition
  sudo: yes
  template:
    src: cadvisor-consul.j2
    dest: "{{ cadvisor_consul_dir }}/cadvisor.json"
  notify:
    - restart consul
  when: cadvisor_enabled

- name: stop cadvisor container
  when: not cadvisor_enabled
  sudo: yes
  service:
    name: cadvisor
    state: stopped
    enabled: yes
  tags:
    - cadvisor
