{
  "service": {
    "id": "mesos-exporter",
    "name": "prometheus-mesos-exporter",
    "tags": [ "mesos", "prometheus" ],
    "check": {
      "script": "curl --silent --show-error  --fail --dump-header /dev/stderr --retry 2 http://{{ mesos_hostname }}:{{ prometheus_mesos_exporter_port }}",
      "interval": "10s",
      "timeout": "3s"
    }
  }
}
