---
# Tasks for Slave nodes
- name: create mesos-slave work directory
  file:
    path: "{{ mesos_slave_work_dir }}"
    state: directory
    mode: 0755
  sudo: yes
  tags:
    - mesos-slave

- name: deploy mesos-slave service
  sudo: yes
  sudo_user: root
  template:
    src: mesos-slave.service.j2
    dest: "/etc/systemd/system/mesos-slave.service"
  notify:
    - restart mesos slave
  tags:
    - mesos-slave

- name: ensure mesos-slave is running (and enable it at boot)
  sudo: yes
  service:
    name: mesos-slave
    state: started
    enabled: yes
  tags:
    - mesos-slave

#- name: run prometheus mesos slave exporter container
#  when: mesos_install_mode == "slave" and prometheus_enabled|bool
#  docker:
#    name: mesos-exporter
#    image: "{{ prometheus_mesos_exporter_image }}"
#    command: "-exporter.scrape-mode=slave -exporter.url=http://{{ mesos_hostname }}:{{ mesos_slave_port }}"
#    state: started
#    restart_policy: always
#    ports:
#    - "{{ prometheus_mesos_exporter_port }}:{{ prometheus_mesos_exporter_port }}"
#  environment: proxy_env
#  tags:
#    - prometheus
#    - mesos_slave

#- name: Set mesos-exporter consul service definition
#  when: mesos_install_mode == "slave" and prometheus_enabled|bool
#  sudo: yes
#  template:
#    src: mesos-exporter-consul.j2
#    dest: "{{ consul_dir }}/mesos-exporter.json"
#  notify:
#    - restart consul
#  tags:
#    - prometheus
#    - mesos_slave
