{
  "service": {
    "name": "chronos",
    "tags": [ "chronos" ],
    "port": {{ chronos_host_port }},
    "check": {
      "script": "curl --silent --show-error  --fail --dump-header /dev/stderr --retry 2 http://{{ chronos_hostname }}:{{ chronos_host_port }}",
      "interval": "10s"
    }
  }
}