---

# Install (docker-py) python package as is a docker module dependency.
- pip:
    name: docker-py
    version: 1.1.0
  environment: proxy_env
  tags:
    - registrator

- name: destroy old registrator container
  when: registrator_rebuild_container
  docker:
    name: registrator
    image: "{{ registrator_image }}"
    state: absent

# tasks file for docker registrator
- name: run registrator container
  docker:
    name: registrator
    image: "{{ registrator_image }}"
    state: started
    restart_policy: always
    net: host
    command: "-internal -resync=120 {{ registrator_uri }}"
    volumes:
    - "/var/run/docker.sock:/tmp/docker.sock"
  environment: proxy_env
  tags:
    - registrator
