---
- name: destroy old marathon container
  when: registrator_rebuild_container
  docker:
    name: registrator
    image: "{{ registrator_image }}"
    state: absent

# tasks file for docker registrator
- name: run registrator container
  docker:
    name: registrator
    image: "{{ registrator_image }}"
    state: started
    restart_policy: always
    net: host
    command: "-internal -resync=120 {{ registrator_uri }}"
    volumes:
    - "/var/run/docker.sock:/tmp/docker.sock"
  tags:
    - registrator
