#
# ZooKeeper Logging Configuration
#

log4j.rootLogger=DEBUG, LOGSTASH

# Send logs to logstash with log4j
log4j.appender.LOGSTASH=org.apache.log4j.net.SocketAppender
log4j.appender.LOGSTASH.port=4560
log4j.appender.LOGSTASH.remoteHost={{ syslog_host }}
log4j.appender.LOGSTASH.ReconnectionDelay=10000
