tickTime=2000
dataDir=/var/lib/zookeeper/
clientPort={{ zookeeper_client_port }}
initLimit=5
syncLimit=2
{% if zookeeper_conf is defined %}
{% for host in zookeeper_conf.split() %}
{{ host }}
{% endfor %}
{% else %}
{% for host in groups[zookeeper_server_group] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_ssh_host'] }}:{{ zookeeper_leader_connect_port }}:{{ zookeeper_leader_election_port }}
{% endfor %}
{% endif %}
