{
  "service": {
    "name": "zookeeper",
    "port": {{ zookeeper_client_port }},
    "tags": [ "zookeeper" ],
    "check": {
      "script": "echo ruok | nc {{ inventory_hostname }} {{ zookeeper_client_port }} | grep imok",
      "interval": "10s"
    }
  }
}
