{
  "mesos": {"master": "{{ dcos_cli_zk_master_peers }}"},
  "elasticsearch": {
    "executor": {
      "instances": "{{ dcos_cli_framework_elasticsearch_executor_instances }}",
      "image": "{{ dcos_cli_framework_elasticsearch_executor_image }}"
    },
    "scheduler": {
      "instances": "{{ dcos_cli_framework_elasticsearch_scheduler_instances }}",
      "image": "{{ dcos_cli_framework_elasticsearch_scheduler_image }}"
    }
  }
}
