{
  "id": "logstash",
  "cmd": "/bin/bash -c \"/opt/logstash/bin/plugin install logstash-input-salesforce; logstash -f /config-dir/logstash.conf\"",
  "instances": {{ dcos_cli_app_logstash_instances }},
  "cpus": {{ dcos_cli_app_logstash_cpus }},
  "mem": {{ dcos_cli_app_logstash_mem }},
  "labels": {
    "DCOS_PACKAGE_NAME": "logstash",
    "DCOS_PACKAGE_IS_FRAMEWORK": "true"
  },
  "env": {
    "SERVICE_NAME": "logstash"
  },
  "container": {
    "type": "DOCKER",
    "volumes": [
      {
        "containerPath": "/config-dir",
        "hostPath": "/etc/logstash.d",
        "mode": "RO"
      }
    ],
    "docker": {
      "image": "{{ logstash_image }}:{{ logstash_image_tag }}",
      "network": "BRIDGE",
      "parameters": [
        {"key":"publish", "value": "5000:5000"},
        {"key":"publish", "value": "5000:5000/udp"}
      ],
      "portMappings": [
        {
          "containerPort": 12201,
          "servicePort": 12201,
          "hostPort": 0,
          "protocol": "tcp"
        },
        {
          "containerPort": 5000,
          "servicePort": 5000,
          "hostPort": 0,
          "protocol": "udp"
        }
      ]
    }
  }
}
