{
  "container": {
    "type": "DOCKER",
    "docker": {
      "network": "BRIDGE",
      "image": "{{ dcos_cli_app_prometheus_image }}:{{ dcos_cli_app_prometheus_image_tag }}",
      "portMappings": [{"containerPort": 9090, "hostPort": 0, "protocol": "tcp"}]
    },
    "volumes": [{
      "containerPath": "/etc/prometheus/prometheus.yml",
      "hostPath": "{{ prometheus_config_dir }}/prometheus.yml",
      "mode": "RO"
    }]
  },
  "id": "prometheus",
  "instances": {{ dcos_cli_app_prometheus_instances }},
  "cpus": {{ dcos_cli_app_prometheus_cpus }},
  "mem": {{ dcos_cli_app_prometheus_mem }},
  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/",
      "portIndex": 0,
      "gracePeriodSeconds": 30,
      "intervalSeconds": 30,
      "timeoutSeconds": 10,
      "maxConsecutiveFailures": 2,
      "ignoreHttp1xx": false
    }
  ],
  "upgradeStrategy": {
    "minimumHealthCapacity": 0.5,
    "maximumOverCapacity": 0.0
  }
}
