---
# tasks file for docker
- name: remove docker override
  file: path=/etc/init/docker.override state=absent

- name: ensure docker is running (and enable it at boot)
  service: name=docker state=started enabled=yes
