---
- name: create traefik config directory
  sudo: yes
  file:
    path: "{{ traefik_config_dir }}"
    state: directory
    mode: 0755
  tags:
    - traefik

- name: configure traefik
  sudo: yes
  template:
    src: traefik.toml.j2
    dest: "{{ traefik_config_dir }}/traefik.toml"
    mode: 0644
    backup: yes
  tags:
    - traefik

- name: install check scripts
  sudo: yes
  copy:
    src: wait-for-marathon.sh
    dest: "{{ traefik_config_dir }}"
    mode: 0755
  tags:
    - traefik

- name: deploy traefik service
  sudo: yes
  template:
    src: traefik.service.j2
    dest: /etc/systemd/system/traefik.service
  notify:
    - restart traefik
  tags:
    - traefik

- name: enable traefik
  sudo: yes
  service:
    name: traefik
    state: restarted
    enabled: yes
  tags:
    - traefik

- name: Set traefik consul service definition
  sudo: yes
  template:
    src: traefik-consul.json.j2
    dest: "{{ traefik_consul_dir }}/traefik.json"
  notify:
    - restart consul
  tags:
    - traefik
