require 'spec_helper'
 
{% set marathon_peers = [] %} 
{%- for host in groups['zookeeper_servers'] -%}
	{%- set current_host = hostvars[host]['ansible_ssh_host'] + ':2181' -%}
	{%- do marathon_peers.append(current_host) -%}
{%- endfor -%}


describe command("curl --silent --show-error --fail --dump-header /dev/stderr --retry 2 http://{{ marathon_hostname }}:8080/v2/info") do
  its(:stdout) { should match '.*"master":"zk://{{ marathon_peers|join(',') }}/mesos".*' }
  its(:stdout) { should match '.*"zk":"zk://{{ marathon_peers|join(',') }}/marathon".*' }
  its(:stdout) { should match '.*"name":"marathon".*' }
  its(:stdout) { should match '.*"mesos_user":"root".*' }
  its(:stdout) { should match '.*"executor":"//cmd".*' }
  its(:exit_status) { should eq 0 }
end 