input {
  tcp {
    port => 5000
    type => syslog
  }
  udp {
    port  => 5000
    codec => json
    type  => syslog
  }
  gelf {
    port => 12201
    type => "gelf"
  }
  {% if logstash_salesforce %}
  salesforce {
    client_id        => {{ salesforce_client_id }}
    client_secret    => {{ salesforce_client_secret }}
    username         => {{ salesforce_client_username }}
    password         => {{ salesforce_client_password }}
    security_token   => {{ salesforce_client_security_token }}
    sfdc_object_name => 'Opportunity'
  }
  {% endif %}
}

# After the data has been parsed, if it containts a field called "CLIENT_IP" or "SOURCE_IP" then  
# convert those IP addresses to a GeoIP. By doing this you can plot data on to a map in kibana.
# Note GeoIP is a Logstash plugin.
filter {  
    geoip {
        source => "CLIENT_IP"
        target => "geoip"
    }
    geoip {
        source => "SOURCE_IP"
        target => "source_ip"
    }
}

output {
  elasticsearch { 
    hosts => "{{ logstash_elasticsearch_output }}" 
  }

{% if logstash_output_stdout %}
  stdout {
    codec => rubydebug
  }
{% endif %}
}
