input {
  lumberjack {
    codec           => "json"
    port            => 5043
    ssl_certificate => "{{ logstash_config_dir }}/ssl/{{ lumberjack_ssl_certificate_file }}"
    ssl_key         => "{{ logstash_config_dir }}/ssl/{{ lumberjack_ssl_key_file }}"
  }
{% if logstash_s3 %}
  s3 {
    bucket            => "elb_logs"
    prefix            => "elb"
    delete            => true
    region            => "eu-west-1"
    region_endpoint   => "eu-west-1"
    access_key_id     => "{{ lookup('env','AWS_ACCESS_KEY_ID') }}"
    secret_access_key => "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"
  }
{% endif %}
{% if logstash_salesforce %}
  salesforce {
    client_id        => '{{ salesforce_client_id }}'
    client_secret    => '{{ salesforce_client_secret }}'
    username         => '{{ salesforce_client_username }}'
    password         => '{{ salesforce_client_password }}'
    security_token   => '{{ salesforce_client_security_token }}'
    sfdc_object_name => 'Opportunity'
  }
{% endif %}
}

output {
  elasticsearch { 
    hosts => "{{ logstash_elasticsearch_output }}" 
  }

{% if logstash_output_stdout %}
  stdout {
    codec => rubydebug
  }
{% endif %}
}
