input {
  lumberjack {
    codec => "json"
    port => 5043
    ssl_certificate => "{{ logstash_config_dir }}/ssl/{{ lumberjack_ssl_certificate_file }}"
    ssl_key => "{{ logstash_config_dir }}/ssl/{{ lumberjack_ssl_key_file }}"
  }
  log4j {
    port => 4560
    type => "log4j"
  }
{% if logstash_salesforce %}
  salesforce {
    client_id        => '{{ salesforce_client_id }}'
    client_secret    => '{{ salesforce_client_secret }}'
    username         => '{{ salesforce_client_username }}'
    password         => '{{ salesforce_client_password }}'
    security_token   => '{{ salesforce_client_security_token }}'
    sfdc_object_name => 'Opportunity'
  }
{% endif %}
}

output {
  elasticsearch { 
    hosts => "{{ logstash_elasticsearch_output }}" 
  }

{% if logstash_output_stdout %}
  stdout {
    codec => rubydebug
  }
{% endif %}
}
