[Unit]
Description=lumberjack
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
Environment="DOCKER_HOST={{ lumberjack_docker_socket }}"
ExecStartPre=-/usr/bin/docker kill lumberjack
ExecStartPre=-/usr/bin/docker rm lumberjack
ExecStartPre=/usr/bin/docker pull {{ lumberjack_image }}
ExecStart=/usr/bin/docker run --name lumberjack \
--restart={{ lumberjack_restart_policy }} \
--net={{ lumberjack_net }} \
--hostname={{ lumberjack_hostname }} \
-v /var/lib/docker/:/var/lib/docker:ro \
-v /var/run/docker.sock:/var/run/docker.sock:ro \
-v "{{ logstash_config_dir }}/lumberjack/logstash-forwarder.conf:/etc/logstash-forwarder.conf:rw" \
-v "{{ logstash_config_dir }}/ssl:/mnt/logstash-forwarder" \
-e "LOGSTASH_HOST={{ logstash_lumberjack_host }}:5043" \
{{ lumberjack_image }}

ExecStop=/usr/bin/docker stop lumberjack

[Install]
WantedBy=multi-user.target
