---

# defaults file for weave
weave_server_group: weave_servers
weave_launch_peers: "{% for host in groups[weave_server_group] %}{% if host != inventory_hostname %}{{ hostvars[host].ansible_default_ipv4.address }} {% endif %}{% endfor %}"
weave_version: 1.4.2
weave_url: "https://github.com/weaveworks/weave/releases/download/v{{ weave_version }}/weave"
