{
  "service": {
    "id": "node-exporter",
    "name": "prometheus-node-exporter",
    "port": {{ prometheus_node_exporter_port }},
    "tags": [ "prometheus" ],
    "check": {
      "script": "curl --silent --show-error  --fail --dump-header /dev/stderr --retry 2 http://{{ prometheus_node_exporter_hostname }}:{{ prometheus_node_exporter_port }}",
      "interval": "10s",
      "timeout": "3s"
    }
  }
}
