description "dnsmasq container"

start on started docker
stop on stopping docker

pre-start script
sudo resolvconf -u
sudo cat /run/resolvconf/resolv.conf > {{ dnsmasq_resolvconf_file }}
sudo sed -i '1s/^/nameserver 127.0.0.1\n/' /run/resolvconf/resolv.conf
end script

script
  /usr/bin/docker start -a dnsmasq
end script

respawn
respawn limit 10 10
kill timeout 10
